<configuration>
  <params>
	<!--
	[REQUIRED]
	Desription: The Sitecore Azure Toolkit folder path. The folder has to contain the original instance of the Sitecore Azure Toolkit. The content has to be unchanged
	-->
	<param name="SATFolderPath">C:\Projects\SitecoreInstall\Sitecore Azure Toolkit 2.0.0 rev.171010</param>
	
	<!--
	[REQUIRED]
	Desription: The Sitecore Azure Toolkit SKU
	-->
    <param name="SATSKU">xp0</param>
	
	<!--
	[REQUIRED]
	Desription: The Sitecore version
	-->
    <param name="SitecoreVersion">8.2.4</param>
	
	<!--
	[REQUIRED]
	Desription: The Sitecore vanilla instance zip file path
	-->
    <param name="SitecoreVanillaInstanceZipFilePath">C:\Projects\SitecoreInstall\Sitecore Azure Toolkit Runner\SitecoreVanillaFiles\Sitecore 8.2 rev. 170614.zip</param>
	
	<!--
	Desription: The package output folder path
	Default Value: <empty> (<executing-script-folder-path>/<package-file>)
	-->
    <param name="PackageOutputFolderPath"></param>
  </params>
</configuration>