<configuration>
  <params>
	<!--
	Desription: The IIS website name
	Default value: Sitecore
	-->
    <param name="WebsiteName">Sitecore</param>
	
	<!--
	Desription: The IIS website path
	Default value: <empty> (<executing-script-path>/../Website)
	-->
    <param name="WebsitePath"></param>
	
	<!--
	Desription: The database server
	Default value: .
	-->
    <param name="DbServer">.\MSSQLSERVER2016</param>
	
	<!--
	[REQUIRED]
	Desription: A JSON file path for SitecoreInstallationFramework. The path is relative to the root installation folder
	-->
    <param name="InstallationManifestFilePath">.\sitecore-8.2.5-XP0.json</param>
	
	<!--
	[REQUIRED]
	Desription: A WebDeploy package file path for SitecoreInstallationFramework. The path is relative to the root installation folder
	-->
    <param name="InstallationPackageFilePath">.\Sitecore 8.2 rev. 170728_single.scwdp.zip</param>
	
	<!--
	[REQUIRED]
	Desription: The Sitecore license file path to be used for the installation. The path is relative to the root installation folder
	-->
    <param name="SitecoreLicenseFilePath">.\license.xml</param>
	
	<!--
	Desription: The database administrator username
	Default value: sa
	-->
    <param name="DbSAUsername">sa</param>
	
	<!--
	Desription: Determines whether package installation would run at the end of the website installation
	Default value: false
	-->
    <param name="RunPackageInstallation">true</param>
	
	<!--
	Desription: The path where the installer page is stored, relative to the root installation folder
	Dependency: "PackageInstallationRequired" param must be true
	Default value: .\addons\sc.packages.installer\InstallModules.aspx
	-->
    <param name="PackageUploadTool">.\addons\sc.packages.installer\InstallModules.aspx</param>
  </params>
  <packages>
	<!-- WFFM module for Sitecore 8.2 rev 170728 (update 5) -->
    <package>.\addons\sc.packages.installer\packages\WFFM.8.2.170807.zip</package>
  </packages>
</configuration>